/* ======================================== */
/* =                                      = */
/* =           Box Model Utilities        = */
/* =                                      = */
/* ======================================== */

/*
.
.     Defines all utilities that relate to the CSS Box Model: Margins / Borders / Padding / Content Box
.      
*/

// - - - - - - - - - -
// * Keylines / Borders
// prefix: u-keyline
// usage:  -top | -right | -bottom | -left
// - - - - - - - - - -
.u-keyline {
      &-top,&-right,&-bottom,&-left {
            border-style: solid !important;
            border-color: $color-default-med-bg !important;
      }
      &-top{ border-width: 1px 0 0 0 !important; }
      &-right{ border-width: 0 1px 0 0 !important; }
      &-bottom{ border-width: 0 0 1px 0 !important; }
      &-left{ border-width: 0 0 0 1px !important; }
}

// - - - - - - - - - -
// * Margin / Padding
// - - - - - - - - - -
$global-margin-sm : 1.25em;
$global-margin-md : 1.875em;
$global-margin-lg : 3.125em;

$global-padding-sm : 1.25em;
$global-padding-md : 1.875em;
$global-padding-lg : 3.125em;

.u-m { 
      margin: $global-margin-sm !important;
      @media screen and (min-width: 32em) { margin: $global-margin-md !important; }
      @media screen and (min-width: 70em) { margin: $global-margin-lg !important; }
}
.u-mt { 
      margin-top: $global-margin-sm !important; 
      @media screen and (min-width: 32em) { margin-top: $global-margin-md !important; }
      @media screen and (min-width: 70em) { margin-top: $global-margin-lg !important; }
}
.u-mr { 
      margin-right: $global-margin-sm !important; 
      @media screen and (min-width: 32em) { margin-right: $global-margin-md !important; }
      @media screen and (min-width: 70em) { margin-right: $global-margin-lg !important; }
}
.u-mb { 
      margin-bottom: $global-margin-sm !important; 
      @media screen and (min-width: 32em) { margin-bottom: $global-margin-md !important; }
      @media screen and (min-width: 70em) { margin-bottom: $global-margin-lg !important; }
}
.u-ml { 
      margin-left: $global-margin-sm !important; 
      @media screen and (min-width: 32em) { margin-left: $global-margin-md !important; }
      @media screen and (min-width: 70em) { margin-left: $global-margin-lg !important; }
}

// -- Margin 1em
.u-m1{ margin: 1em !important; }
.u-mt1{ margin-top: 1em !important; }
.u-mr1{ margin-right: 1em !important; }
.u-mb1{ margin-bottom: 1em !important; }
.u-ml1{ margin-left: 1em !important; }

// -- Margin Auto
.u-autoMargin { margin-left: auto !important; margin-right: auto !important; }

// -- Margin 0
.u-m0 { margin: 0 !important; }
.u-mt0 { margin-top: 0 !important; }
.u-mb0 { margin-bottom: 0 !important; }

// -- Max Width
.u-max { max-width: 60em !important; }
.u-max\+ { max-width: 75em !important; }

// -- Padding
.u-p { 
      padding: $global-padding-sm !important;
      @media screen and (min-width: 32em) { padding: $global-padding-md !important; }
      @media screen and (min-width: 70em) { padding: $global-padding-lg !important; }
}
.u-pt { 
      padding-top: $global-padding-sm !important; 
      @media screen and (min-width: 32em) { padding-top: $global-padding-md !important; }
      @media screen and (min-width: 70em) { padding-top: $global-padding-lg !important; }
}
.u-pr { 
      padding-right: $global-padding-sm !important; 
      @media screen and (min-width: 32em) { padding-right: $global-padding-md !important; }
      @media screen and (min-width: 70em) { padding-right: $global-padding-lg !important; }
}
.u-pb { 
      padding-bottom: $global-padding-sm !important; 
      @media screen and (min-width: 32em) { padding-bottom: $global-padding-md !important; }
      @media screen and (min-width: 70em) { padding-bottom: $global-padding-lg !important; }
}
.u-pl { 
      padding-left: $global-padding-sm !important; 
      @media screen and (min-width: 32em) { padding-left: $global-padding-md !important; }
      @media screen and (min-width: 70em) { padding-left: $global-padding-lg !important; }
}

// -- Padding 0
.u-p0{ padding: 0 !important; }
.u-pt0 { padding-top: 0 !important; }
.u-pb0 { padding-bottom: 0 !important; }

// - - - - - - - - - -
// * Max Height
// - - - - - - - - - -
.u-mxh0 { max-height: 0 !important; }


// - - - - - - - - - -
// * Scroll Disabled
// - - - - - - - - - -
.u-noScrolling, .scroll-disabled  {
      overflow: hidden;
      position: fixed;
      width: 100vw;
      height: 100vh;
}

