$form-input-bg-color: #323232;

$form-accent-invalid: #FF0000;
$form-accent-valid: #999;

$form-icon-indicator: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16px' height='16px'><polygon points='0 0 16 8 0 16 0 0'/></svg>");
$form-icon-invalid: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><defs><clipPath id='clip-path'><path d='M8,14.33A1.28,1.28,0,0,0,9,13.94a1.33,1.33,0,0,0,0-1.88,1.34,1.34,0,0,0-1.89,0,1.33,1.33,0,0,0,0,1.88A1.28,1.28,0,0,0,8,14.33Zm-1-10V10H9V4.33Zm8.82,9.26a1.53,1.53,0,0,1-.06,1.61,1.58,1.58,0,0,1-1.42.8H1.67a1.58,1.58,0,0,1-1.42-.8,1.62,1.62,0,0,1-.08-1.61L6.5.93A1.6,1.6,0,0,1,8,0,1.53,1.53,0,0,1,9.49.93Z' style='fill:none;clip-rule:evenodd'/></clipPath></defs><g style='clip-path:url(#clip-path)'><rect width='16' height='16' style='fill:#{$form-accent-invalid}'/></g></svg>");
$form-icon-valid: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.93 12.07' fill='#{$form-accent-valid}'><path d='M4.5,11l1.8,1.2a.25.25,0,0,0,.4-.1l2.6-3.8,1.9-2.7,2.6-3.8a.25.25,0,0,0-.1-.4L11.9.17a.6.6,0,0,0-.4.1l-5.6,8c-.1.1-.3.2-.4.1L1.6,5.87a.25.25,0,0,0-.4.1L0,7.67a.25.25,0,0,0,.1.4L4,10.57Z'/></svg>");

%stringInputStyles {
	width: 100%;
	font-size: 1rem;
	border-color: #999;
	border-style: none none solid none;
	border-width: 1px;
	outline: 0;
	padding: 0.125rem 0;
	margin: 0 0 1px 0;

	&:not([disabled]) {
		&:active, &:focus {
			border-width: 0.125rem;
			border-color: black;
			margin: 0;
		}
	}
}
%inputIndicator {
	&::before {
		content: "";
		width: 0;
		height: 0.5rem;
		overflow: hidden;
		margin-right: 0;
		background-image: $form-icon-indicator;
		background-repeat: no-repeat;
		background-size: contain;
		align-self: center;
		transition-property: width, margin-right;
		transition-duration: 100ms;
	}
}


//-- BASE FORM ELEMENTS
legend {
	border-bottom: 1px solid white;
	display: block;
	width: 100%;
	margin-bottom: 1.25em;
}
label {
	position: relative;
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 1em;
	align-items: center;
}
input, select, textarea {
	border: 1px solid transparent;
	background-color: #323232;
	border-radius: 0.75em;
	padding: 0.125em 0.5em;

	&:focus, &:active, &:focus-within, &:focus-visible {
		outline: 0;
		border: 1px solid #666;
	}
}
input {
	&[type="reset"], &[type="submit"] { background-color: grey; }
}

.f-group {
	display: flex;
	gap: 1em;
}

//-- FORM INPUT CLASS
.f-input {
	line-height: 1.25rem;
	z-index: 1;

	@at-root ul#{&} {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		gap: 0.5em;
		justify-content: space-between;
	}

	&[data-msg] {
		grid-template-columns: max-content 1fr max-content;
		&::after {
			content: attr(data-msg);
			margin-right: 0.25rem;
		}
	}

	//-- CHILDREN
	&__ {
		&indicator {
			display: inline-block;
			position: relative;
			background-color: #EFEFEF;
			align-self: center;
			border: 1px solid #999;
		}
		&select {
			display: inline-flex;
			flex-direction: column;
			position: relative;
			padding: 0.125em 0.5em;
			background-color: #323232;
			border-radius: 0.75em;
			
			&__ {
				&text {
					display: inline-block;
					width: 100%;
					height: 1.25rem;
					cursor: pointer;
					
					&:focus {
						border-width: 0.125rem;
						border-color: black;
						outline: 0;
					}
					
					&::after {
						content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' fill='%23fd4300' width='14px' height='8px' viewBox='0 0 14 8'><path d='M13.02.02a.062.062 0 0 0-.09 0L7.058 5.87c-.038.035-.068.039-.105.01L1.071.02a.062.062 0 0 0-.09 0L.02.977a.062.062 0 0 0 0 .09l6.937 6.915a.066.066 0 0 0 .09 0l.962-.96 5.973-5.954a.065.065 0 0 0 0-.09L13.02.02z'></path></svg>");
						display: block;
						float: right;
						padding-left: 0.5rem;
						padding-right: 0;
					}
				}
				&menu {				
					margin: 0.5em 0 0 0;
					padding: 0;
					overflow: auto;
					position: absolute;
					top: 100%;
					left: 0;
					background-color: $form-input-bg-color;
					max-height: 0;
					width: 100%;
					transition: max-height 500ms;
					z-index: 1;
					border-radius: 0.5rem;
					
					> li {
						padding: 0.125rem 0.5rem;
						&:hover { background-color: lighten($form-input-bg-color, 10%);}
						svg { margin-right: 0.25rem; }
					}
				}
			}
		}
	}

	//-- MODIFIERS
	&-- {
		//- input states
		&active, &changed {}
		&active {
			.f-input__select__text {
				&::after {
					transform: rotate(180deg);
					padding-left: 0;
					padding-right: 0.5rem;
				}
			}
			.f-input__select__menu {
				max-height: 12.5rem;
			}
		}
		&changed {
			&.f-input--switch { color: black; }
		}
		&disabled {
			opacity: 0.5;
		}

		//- javascript generated modifiers
		&radio, &checkbox {
			input {
				height: 0;
				width: 0;
				padding: 0;
				margin: 0;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				&:checked + .f-input__indicator {
					background-color: #c8102e;
					&::after {
						content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.93 12.07' fill='%23fff'><path d='M4.5,11l1.8,1.2a.25.25,0,0,0,.4-.1l2.6-3.8,1.9-2.7,2.6-3.8a.25.25,0,0,0-.1-.4L11.9.17a.6.6,0,0,0-.4.1l-5.6,8c-.1.1-.3.2-.4.1L1.6,5.87a.25.25,0,0,0-.4.1L0,7.67a.25.25,0,0,0,.1.4L4,10.57Z'/></svg>");
						top: 50%;
						left: 50%;
						width: 1rem;
						height: 1rem;
						transform: translate(-50%, -50%);
						display: block;
						position: absolute;
					}
				}
			}
		}
		&radio {
			.f-input__indicator {
				border-radius: 50%;
				width: 1em;
				height: 1em;
			}
			&.f-input--switch {
				display: inline-grid;
				gap: 0;
				padding: 0.125em 0.5em;
				cursor: pointer;

				.f-input__indicator {
					background-color: transparent;
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 0.75em;
					z-index: -1;
				}
				input:checked + .f-input__indicator {
					background-color: #d8d8d8;
					&::after { content: ""; }					
				}
			}
		}
		&checkbox {
			.f-input__indicator {
				border-radius: 0.125rem;
				width: 0.875em;
				height: 0.875em;
			}
		}
		&select {
			select {
				position: absolute;
				left: 0;
				bottom: 0;
				opacity: 0;
			}
		}
	}
}