.s-bible {
    $root: &;
    display: grid;
    grid-template-columns: 100vw 100vw;
    grid-template-rows: 100%;
    overflow: hidden;
    position: fixed;
    height: 100%;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    //- children
    &__ {
        &landing {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 0;
            transition: left 250ms;
            
            &__ {
                &books {
                    overflow: auto;
                    &__ {
                        &book {
                            padding: 1em 1.5em;
                            border-top: 1px solid #ccc;
                            &:first-child { border-top: 0; }
                            &:nth-child(even) {
                                background-color: #eee;
                                button { background-color: white; }
                            }

                            &__ {
                                &title {
                                    margin-bottom: 1.25em;
                                }
                                &chapters {
                                    margin: 0;
                                    padding: 0;
                                    list-style: none;
                                    display: grid;
                                    grid-template-columns: repeat(auto-fit, 2.75em);
                                    grid-auto-rows: 2.75em;
                                    gap: 0.75em;

                                    button {
                                        border: 1px solid #ccc;
                                        border-radius: 0.25em;
                                        font-weight: bold;
                                        color: #757575;
                                        background-color: #eee;
                                        width: 100%;
                                        height: 100%;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
                &index {
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);
                    font-weight: bold;
                    border-top: 0.5em solid black;
                    gap: 0.125em;
                    position: sticky;
                    bottom: 0;
                    left: 0;
                    width: 100%;
        
                    a {
                        display: block;
                        padding: 0.25em;
                        font-size: 1.5em;
                        background: #333;
                        color: white;
                        text-align: center;
                        height: 100%;
                        border-top: 1px solid #ccc;
                    }
                }
            }
        }
        &verses {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 100vw;
            transition: left 250ms;

            li {
                padding: 1em 1.5em;
                border-top: 1px solid #ccc;
                &:first-child { border-top: 0; }
                &:nth-child(even) {
                    background-color: #eee;
                    button { background-color: white; }
                }
            }

            &__ {
                &view {
                    overflow: auto;
                    li.u-active {
                        background-color: #111;
                        color: white;
                    }
                }
                &controls {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 0.125em;
                    border-top: 0.5em solid black;

                    button {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25em;
                        align-items: center;
                        background-color: #333;
                        color: white;
                        padding: 1em 0 0.5em;

                        &[disabled] { background-color: #999; }
                        svg {
                            font-size: 1.75em;
                            fill: white;
                        }
                    }
                }
            }
        }
    }

    //- modifiers
    &-- {
        &active {
            #{$root} {
                &__ {
                    &landing, &verses { left: -100vw; }
                }
            }
        }
    }
}