.s-live {
    $root: &;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    font-size: 2.5em;
    background-image: url("/imgs/ccnlb_logo-w.png"), url("/imgs/greyBG.png");
    background-position: center;
    background-repeat: no-repeat, repeat-x;
    background-size: 45%, 1px 40%;
    transition: background-size 500ms;

    &::after {
        content: "";
        background-color: rgba(0,0,0,0.8);
        opacity: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        transition: opacity 500ms;
    }

    &__ {
        &content {
            display: flex;
            gap: 0.625em;
            flex-direction: column-reverse;
            margin: 1em;
            padding: 1em;
            // background-color: rgba(0,0,0,0.8);
            // border-radius: 1em;
            color: white;
            opacity: 0;
            line-height: 1.5;
            font-size: 1.375em;
            width: 100%;
            transform: translateY(1em);
            transition: opacity 750ms, line-height 1000ms, transform 1000ms;
            z-index: 1;

            &__ {
                &title {
                    font-size: 1.125em;
                    text-align: right;
                    color: #aaa;
                }
                &text {
                    font-size: 1.25em;
                    margin: 0;
                    text-align: justify;
                    font-weight: bold;
                }
            }
        }
    }

    &-- {
        &stream {
            background: none;
            align-items: flex-end;
            font-size: 1.5em;
            &::after { content: unset; }
            #{$root}__content { border-radius: 0.5em; }
        }
        &refresh {
            background-image: url("/imgs/refresh_logo-w.png"), url("/imgs/refreshBG.jpg");
            background-size: 75%, 100%;
        }
    }

    &.u-active {
        background-size: 40%, 1px 35%;
        &::after {
            opacity: 1;
        }
        &#{$root} {
            &--stream {
                #{$root}__content {
                    flex-grow: 1;
                    background-color: rgba(0,0,0,0.8);
                }
            }
            &--refresh {
                background-size: 70%, 100%;
            }
        }
        #{$root} {
            &__ {
                &content {
                    opacity: 1.25;
                    line-height: 1.25;
                    transform: translateY(0);
                }
            }
        }
    }
}