doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sockets Test

        //- STYLESHEETS
        link(rel="stylesheet" href="/css/bibleDeck/")


        //- JAVASCRIPTS
        script(src="/js/bibleDeck.manager.js" defer)
        if scripts 
            each script in scripts
                script(src="/js/"+script defer)

        script(src="/socket.io/socket.io.js")
        script.
            const socket = io();
    body
        main.l-root
            block content