extends _headers.pug
block content 
    - let n = 0;
    - let quickNav = [];
    - let histID, currID, newID;
    #bibleDeck.s-bible
        .s-bible__landing
            ul.s-bible__landing__books
                each book in books
                    - currID = (isNaN(book.name.charAt(0))) ? book.name.charAt(0) : "number"+book.name.charAt(0);
                    - newID = (currID!=histID) ? currID : null;
                    - histID = currID;
                    - if(newID) quickNav.push(newID);
                    li.s-bible__landing__books__book(id=newID)
                        - n = book.chapters;
                        h3.s-bible__landing__books__book__title= book.name
                        ul.s-bible__landing__books__book__chapters
                            while n > 0
                                - let chapt = (book.chapters-n);
                                li: button(data-target="bibleDeck" data-api="/"+book.index+"/"+chapt).e-bibleLink= chapt+1
                                - n--;

            ul.s-bible__landing__index
                each navItem in quickNav 
                    li: a.e-smoothScroll(href="#"+navItem)= navItem.replace("number","")
        
        .s-bible__verses
            .s-bible__verses__view 
            .s-bible__verses__controls
                button(onclick="BibleDeck.bible.goHome()")
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.6 15.52" width="128px" height="128px" fill="#000000")
                        path(d="M17.93 0H7.66A1.66 1.66 0 006 1.45a.38.38 0 000 .12v1.84a.74.74 0 00.75.74h.08a.74.74 0 00.75-.74V2.3a.73.73 0 01.72-.69h8.91a.73.73 0 01.73.73v10.8a.73.73 0 01-.73.73h-8.9a.71.71 0 01-.73-.67v-1a.78.78 0 00-.75-.79h-.08a.79.79 0 00-.75.79v1.7a1.66 1.66 0 001.66 1.62h10.27a1.66 1.66 0 001.66-1.66V1.66A1.66 1.66 0 0017.93 0z")
                        path(d="M10.75 6.71H4.9V4.63a.92.92 0 00-.9-.94h-.1a.88.88 0 00-.6.27l-3 3a.9.9 0 00-.3.68v.1a.9.9 0 00.22.59l3 3a.91.91 0 00.6.24H4a.91.91 0 00.89-.93V8.66h5.86a.94.94 0 00.93-.93v-.1a1 1 0 00-.93-.92z")
                    | Return
                button#clearBtn(onclick="BibleDeck.bible.clearAll()")
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.65 20.65" width="128px" height="128px" fill="#000000")
                        path(d="M10.32 0a10.32 10.32 0 1010.33 10.32A10.34 10.34 0 0010.32 0zm0 19.2a8.87 8.87 0 118.87-8.87 8.88 8.88 0 01-8.87 8.87z")
                        path(d="M14.59 7.62a.23.23 0 000-.33l-1.37-1.37a.23.23 0 00-.33 0l-2.4 2.4a.23.23 0 01-.33 0l-2.4-2.4a.23.23 0 00-.33 0L6.09 7.26a.23.23 0 000 .33L8.49 10a.23.23 0 010 .33l-2.4 2.4a.23.23 0 000 .33l1.37 1.37a.23.23 0 00.33 0l2.4-2.4a.23.23 0 01.33 0l2.4 2.4a.23.23 0 00.33 0l1.34-1.34a.23.23 0 000-.33l-2.4-2.4a.23.23 0 010-.33z")
                    | Clear All 
                button#prevBtn(onclick="BibleDeck.bible.previousVerse()" disabled)
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 15.01" width="128px" height="128px" fill="#000000")
                        path(d="M7.29 14.92L.09 7.74a.34.34 0 010-.45L7.29.1a.31.31 0 01.44 0l2.19 2.19a.33.33 0 010 .45L5.15 7.51l4.77 4.78a.33.33 0 010 .45l-2.19 2.18a.36.36 0 01-.22.09.35.35 0 01-.22-.09z")
                    | Previous Verse 
                button#nextBtn(onclick="BibleDeck.bible.nextVerse()" disabled)
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 15.01" width="128px" height="128px" fill="#000000")
                        path(d="M2.72.09l7.2 7.18a.34.34 0 010 .45l-7.2 7.19a.31.31 0 01-.45 0L.09 12.72a.33.33 0 010-.45L4.86 7.5.09 2.72a.33.33 0 010-.45L2.28.09A.36.36 0 012.5 0a.35.35 0 01.22.09z")
                    | Next Verse


        