extends _headers.pug
block content 
    ul 
        li: button(data-value="red") Red 
        li: button(data-value="blue") Blue 
        li: button(data-value="green") Green 

    script.
        let btns = document.getElementsByTagName("button");
        let a = btns.length-1;
        let btn;

        for(a; a>=0; a--) {
            btn = btns[a];
            btn.addEventListener("click", btnAction);
        }

        function btnAction() {
            console.log('emitting supposedly');
            socket.emit("swap", this.dataset.value);
        }