extends _headers.pug
block content 
    #mainView.s-live.s-live--refresh

    script.
        let targetView = document.getElementById("mainView");
        let viewTimer;
        socket.on("verse", (ref) => {
            targetView.innerHTML = ref.html;
            if(viewTimer) clearTimeout(viewTimer);
            viewTimer = setTimeout(activateElm, 100, targetView);
        })
        socket.on("clear", () => {
            targetView.classList.remove("u-active");
            if(viewTimer) clearTimeout(viewTimer);
            viewTimer = setTimeout(clearHTML, 1000, targetView);
        })
        function activateElm(elm) {
            elm.classList.add("u-active");
        }
        function clearHTML(elm) {
            elm.innerHTML = "";
        }