ul 
    each verse, index in verses 
        li.s-bible__verses__view__verse(onclick="BibleDeck.bible.broadcastVerse(this)" data-index=index)
            h3 #{book} #{chapter}:#{verse.num}
            p= verse.text