@mixin theme-dark(
	// -- layout
		$body-color: 		black,
		$hr-color: 			$theme-dark-hr-color,
      // -- type
            $font-base-color: 	$theme-dark-font-base-color,
            $heading-color: 	white,
            $link-color:    	$color-alt,
            $link-hover:    	$color-alt,
            $link-active:   	white,
      // -- buttons
            // BTN1
            $btn-1-bg-color:        null,
            $btn-1-txt-color:       null,
            $btn-1-border-color:    null,
            // hover
            $btn-1-bg-hover:        null,
            $btn-1-txt-hover:       null,
            $btn-1-border-hover:    null,
            
            // BTN2
            $btn-2-bg-color:	    rgba(255,255,255,0.05),
            $btn-2-txt-color:	    white,
            $btn-2-border-color:    rgba(255,255,255,0.6),
            // hover
            $btn-2-bg-hover: 	    rgba(255,255,255,0.15),
            $btn-2-txt-hover: 	    white,
            $btn-2-border-hover:    rgba(255,255,255,0.6),

            $tag-bg-color:          $tag-darktheme-bg-color,
            $tag-color:             $tag-darktheme-text-color
) {
	// ### BASE PROPERTIES ### //
      color: $font-base-color !important;
      background-color: $body-color !important;
  
      h1, h2, h3, h4, h5, h6 { color: $heading-color; }
      hr { background-color: $hr-color; }
      svg { fill: white; }
      label { color: $theme-dark-label; }
}